


.el-header{
   background-color: #76A3A3;
    color: #333;
    text-align: center;
}
  .nav {
    float: left;
    margin-left: 200px;
    margin-top: 30px;
    
  }
  .nav ul {
    overflow: hidden;
  }
  .nav li {
    float: left;
    margin: 0 20px;
    list-style: none;
  }
  .nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  .nav li a:hover {
    color: red;
  }
  .user {
    float: right;
  }

    .el-select .el-input {
    width: 150px;
  }

  .el-input{
    width:13%;
  }


  .selected{
    width:300px;
    float: left;
    margin-left: 500px;
    position: relative;
    top: -40px;
  }

  .demo-input-suffix{
    position: relative;
    top: -40px;
  }

  .btnseach{
    margin-top:15px;
  }

 
  .parent ul li,.child ul li,.main ul li{
    text-align:center;
    margin-top:10px;
  }